body{
    background-color: rgba(119, 189, 250, 0.664);
}

.navbar{
    background-color: darkblue;
    color: white;
}
.nav-link{
    color:cyan;
}

.initialText{
    margin-top: 8%;
}
.formulario{
    margin-top: 8%;
    border: 2px solid darkblue;
    border-radius: 30px;
    width: 30%;
    padding-top: 1%;
    background-color:rgb(186, 223, 255);
    color: darkblue;
}
h6{
    margin-bottom: 2%;
}
.vazaoVol{
    margin-top: 12%;
    visibility:hidden;
}
.vazaoMas{margin: 2% 0% ;
    visibility: hidden;
}
.vazaoPes{
    margin-bottom: 8%;
    visibility: hidden;
}
.btn{
    margin-bottom: 5%;
}
.func-item{
    margin-top: 2%;
}
.input-item{
    width: 25%;
    margin-left: 1%;
    border-radius: 10px;
    border: 1px solid darkblue;
    font-weight: 800;
    color: darkblue;
}

@media screen and (max-width: 780px) {
    .formulario{
        font-size: 18px;
        width: 70%;
        margin-left: 15%;
        margin-top: 40%;
        }
    .title{
        padding-top: 5%;
        padding-bottom: 15%;
    }
    .input-item{
        width: 60%;
        padding-left: 2%;
    }
    .btn{
        width: 35%;
        margin-bottom: 15%;
    }
    .nav-link{
        font-size: 80%;
    }
    .footer{
        font-size: 80%;
    }
}